@using System.Web.UI.WebControls
@using LoginEmpty.Models

@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}


@{
    ViewBag.Title = "Info";
}


@*<h2>Info</h2>*@
@*<table class="table table-striped">
        <tr>
            <!--表头-->
            <th>Id</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Grade</th>
            <th>Grade</th>
        </tr>
        @foreach (ArticleInfo x in ViewBag.UserArticles)
        {
            <tr>
                <td>@x.Article</td>
                <td>@x.Name</td>
                <td>@x.Hit</td>
                <td>@x.Time</td>
                <td>@x.Content</td>
            </tr>
        }
</table>*@
<script src="~/Scripts/viviJquery.js"></script>
<link href="/Content/info.css" rel="stylesheet">

<div id="container">@*大框架*@
    <div id="tablecss">
        <ul style="margin-top: 10px;">
            <li> <a id="tableli" href="www.baidu.com" target="blank">首页</a></li>
            <li> <a id="tableli" href="www.baidu.com" target="blank">问答</a></li>
            <li> <a id="tableli" href="www.baidu.com" target="blank">更多</a></li>
            

            <li id="tablelivv"><a href="/Home/Index">Logout</a></li>
            <li id="tablelivv"><a href="/Home/Info">@ViewBag.userName</a></li>
        </ul>
        @*  *@
        

        @*<span style="float: right"></span>*@
    </div>
    
    <div class="leftsidesection">
        <h3 style="text-align: center; display: inline;width: 200px">Published bolg</h3>
        @using (Html.BeginForm("CreateBlog", "Home", FormMethod.Get, new { id = "mybeignform" }))
        {
            <button type="submit" class="btn btn-primary">New blog</button>
        }
                @foreach (ArticleInfo x in ViewBag.UserArticles)
                {
                    <div class="articlecss">
                        <div class="mydiv">@x.Article</div>
                        <div class="mydiv">Writer：@x.Name</div>
                        <div class="mydiv">Time：@x.Time.ToShortDateString()</div>
                        <div class="mydiv">@x.Content.Substring(0, 20)</div>
                        @using (Html.BeginForm("EditBlog", "Home", FormMethod.Get, new {style = "float: right; margin-right: 20px;margin-bottom: 5px"}))
                        {
                            <button type="submit" class="btn btn-info"><a href="/Home/Editblog?artiId=@x.ArticleInfoId">Edit</a></button>
                        }
                    </div>
                }
    </div>
    <div class="rightside">广告</div>
    <div class="rightsidenotop">日历挂件
        @*<div>
            @using (Ajax.BeginForm("Search", "Home",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnFailure = "searchFailed",
                    LoadingElementId = "ajax-loader",
                    UpdateTargetId = "searchresults",
                }))
            {
                <input type="text" name=q />
                <input type="submit" value="search" />
            }
        </div>*@
    
    </div>
    @*<footer style="position: absolute; bottom: 0; text-align: center; font-size: +15px; margin: auto; width: 100%; margin-bottom: 20px">
        <p style="color: black">&copy; @DateTime.Now.Year - Vivi Lei</p>
    </footer>*@
</div>



